.advantages {
	margin-top: 73px;
	&__content {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	&__market {
		background-color: #f4f4f6;
		padding: 31px 40px 215px 40px;
		width: 66%;
		position: relative;
	}
	&__title {
			font-weight: 900;
    	font-size: 25px;
    	color: #000;
			margin-top: 25px;
			line-height: 30px;
	}
	&__text {
		font-weight: 400;
		width: 420px;
		font-size: 14px;
		line-height: 20px;
		color: #8890A1;
		text-transform: none;
		margin-top: 10px;
	}
	.sign {
		width: 300px;
	}
	&__phone {
		display: block;
    max-width: 100%;
    height: auto;
		position: absolute;
		right: 0;
		bottom: 0;
		z-index: 1;
	}
	&__bank {
		background-color: #f4f4f6;
		padding: 33px 48px 189px 33px;
		width: 31%;
		position: relative;
	}
	&__online {
		background-color: #f4f4f6;
		padding: 33px 48px 144px 39px;
		width: 31%;
		position: relative;
		margin-top: 30px;
	}
	&__slider {
		display: none;
	}
	.mastercard {
		margin-top: 30px;
	}
}

/* 1024 - 1320px */
@media screen and (max-width: 1320px) {
	.advantages {
		&__market {
			width: 100%;
		}
		&__bank {
			margin-top: 30px;
			width: 47%;
		}
		&__online {
			width: 47%;
		}
		
	}
	.mastercard {
			width: 100%;
		}
}

/* 768 - 1024px */
@media screen and (max-width: 1024px) {
	.advantages {
		&__market {
			width: 47%;
			padding-right: 5px;
			padding-left: 25px;
		}
		&__text {
			width: auto;
		}
		&__bank {
			margin-top: 0;
			padding-right: 4px;
			padding-left: 25px;
			width: 47%;
		}
		&__online {
			width: 47%;
			padding-left: 25px;
		}

	}
	.advantages .sign {
		width: auto;
	}
	.specialist {
			width: 127px;
	}
	.mastercard {
		width: 47%;
		padding-left: 25px;
	}
	.stone {
		width: 250px;
	}
}

/* 576 - 768px */
@media screen and (max-width: 768px) {
	.advantages {
		&__content {
			display: none;
		}
		&__slider {
			display: block;
		}
		&__online {
			margin-top: 0;
			padding-bottom: 153px;
			max-width: 570px;
    	width: 100%;
		}
		&__bank {
			padding-bottom: 203px;
			max-width: 570px;
    	width: 100%;
		}
		&__market {
			padding-bottom: 205px;
			max-width: 570px;
    	width: 100%;
		}
		.mastercard {
			margin-top: 0;
			padding-bottom: 185px;
			max-width: 570px;
    	width: 100%;
		}
		&__title {
			font-size: 20px;
		}
		.title-percent {
			width: 230px;
		}
		&__text {
			width: 240px;
		}
		.sign {
			width: 240px;
		}
		.title-bank {
			width: 272px;
		}
	}
}

/* 576 - 768px */
@media screen and (max-width: 768px) {
	.advantages {
		&__title {
			font-size: 18px;
		}
	}
}