@font-face {
  font-family: 'Graphik';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/GraphikCy-Regular.eot');
  src: url('../fonts/GraphikCy-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/GraphikCy-Regular.woff2') format('woff2'),
       url('../fonts/GraphikCy-Regular.woff') format('woff'),
       url('../fonts/GraphikCy-Regular.otf')  format('opentype'),
       url('../fonts/GraphikCy-Regular.ttf')  format('truetype'),
       url('../fonts/GraphikCy-Regular.svg#svgFontName') format('svg');
}

@font-face {
  font-family: 'Graphik';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/GraphikLCWeb-Medium.eot');
  src: url('../fonts/GraphikLCWeb-Medium.eot?#iefix') format('embedded-opentype'),
       url('../fonts/GraphikLCWeb-Medium.woff2') format('woff2'),
       url('../fonts/GraphikLCWeb-Medium.woff') format('woff'),
       url('../fonts/GraphikLCWeb-Medium.otf')  format('opentype'),
       url('../fonts/GraphikLCWeb-Medium.ttf')  format('truetype'),
       url('../fonts/GraphikLCWeb-Medium.svg#svgFontName') format('svg');
}

@font-face {
  font-family: 'Graphik';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/GraphikLCWeb-Bold.eot');
  src: url('../fonts/GraphikLCWeb-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/GraphikLCWeb-Bold.woff2') format('woff2'),
       url('../fonts/GraphikLCWeb-Bold.woff') format('woff'),
       url('../fonts/GraphikLCWeb-Bold.otf')  format('opentype'),
       url('../fonts/GraphikLCWeb-Bold.ttf')  format('truetype'),
       url('../fonts/GraphikLCWeb-Bold.svg#svgFontName') format('svg');
}