.footer {
	background-color: #1e1f28;
	padding: 73px 0 60px 0;
	margin-top: 146px;
	&__content {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	&__title {
		font-weight: 500;
		font-size: 18px;
		line-height: 30px;
		color: #FFFFFF;
		position: relative;
	}
	// &__title::before {
	// 	content: '';
	// 	display: inline-block;
	// 	width: 10px;
	// 	height: 10px;
	// 	border: 1px solid #fff;
	// 	border-width: 1px 1px 0 0;
	// 	transform: translateY(-25%) rotate(135deg);
	// 	right: -8%;
	// 	position: absolute;
	// }
	&__link {
		font-weight: 400;
		font-size: 14px;
		line-height: 40px;
		color: #8890A1;
		text-transform: none;
	}
	&__link:hover {
			color: #ED8200;
		}
	&__cell {
		flex-wrap: wrap;
		display: none;
	}
	.lower-column {
		flex-basis: 50%;
		max-width: 50%;
	}
	.lower-column:nth-child(3) {
		margin-top: 20px;
	}
	.lower-column:nth-child(4) {
		margin-top: 20px;
	}
}



/* 768 - 1024px */
@media screen and (max-width: 1024px) {
	.footer {
		margin-top: 96px;
		&__content {
			display: none;
		}
		&__cell {
			display: flex;
		}
	}
}



/* 576 - 768px */
@media screen and (max-width: 768px) {
	.footer {
		&__cell {
			display: inline-block;
			flex-wrap: nowrap;
		}
		.lower-column {
			flex-basis: 0;
    	max-width: none;
		}
		&__title {
			cursor: pointer;
		}
		&__list {
			display: none;
		}
		.lower-column.open ul {
      //display: block !important;
    }
	}
}

.open {
	display: block !important;
}

/* 320 - 576px */
@media screen and (max-width: 576px) {
	.footer {
		margin-top: 33px;
	}
}