.header {
	position: relative;
	&__top-block{
		border-bottom: 1px solid #e7e9ec;
	}
	&__cell {
		display: flex;
		justify-content: space-between;
		padding: 15px 0 12px 0;
	}
	&__info {
		display: flex;
		// padding: 15px 0 17px 0;
		align-items: flex-end;
	}
	&__logo {
		width: 48px;
		height: 48px;
		color: #fff;
		font-weight: 900;
		font-size: 25px;
		line-height: 40px;
		background-color: #003DB1;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		margin-right: 51px;
	}
	&__sup-menu {
		display: flex;
	}
	&__sup-item {
		
	}
	&__bank {
		font-weight: 400;
		font-size: 12px;
		line-height: 13px;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		color: #8890A1;
		// position: relative;
	}
	&__bank.with-sub.opened + .submenu {
		opacity: 1;
		visibility: visible;
	} 

	&__bank:hover {
    color: #003DB1;
	}
	.private {
			margin-right: 47px;
	}
	&__address {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
	}
	&__data {
		font-weight: 400;
		font-size: 12px;
		line-height: 13px;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		color: #8890A1;
	}
	&__data:hover {
    color: #ED8200;
	}
	.leng {
		margin-left: 37px;
	}
	&__eye {
		display: none;
	}
	&__bar {
		display: none;
	}
	&__magnifire {
		display: none;
	}
	&__search {
		display: none;
	}
	&__tel {
		font-weight: 500;
		font-size: 12px;
		line-height: 12px;
		letter-spacing: 0.05em;
		text-transform: none;
		color: #8890A1;
		margin-left: 35px;
	}
	&__tel:hover {
    color: #ED8200;
	}
	&__wrap {
		display: flex;
		justify-content: space-between;
		padding: 21px 0 17px 0;
	}
	&__list {
		display: flex;
	}
	&__link {
		font-weight: 500;
		font-size: 14px;
		line-height: 14px;
		color: #000;
		text-transform: none;
	}
	&__link:hover {
		color: #003DB1;
	}
	.clients {
		margin-right: 48px;
	}
	.corporate {
		margin-right: 51px;
	}
	&__box {
		display: none;
		padding-top: 45px;
		padding-bottom: 25px;
		border-bottom: 1px solid #8890A1;
	}
	&__title-wrap {
		cursor: pointer;
		font-size: 18px;
	}
	&__wrap-lower {
		display: flex;
	}
	&__menu-lower:nth-child(2) {
		margin-left: 100px;
	}
	&__item-lower {
		margin-top: 25px;
	}
	&__link-lower {
		font-weight: 400;
		font-size: 18px;
		color: #8890A1;
		text-transform: none;
	}
	&__link-lower:hover {
		color: #ED8200;
	}
	&__footer-menu {
		display: none;
		justify-content: space-between;
		padding-top: 146px;
		padding-bottom: 42px;
	}
	&__footer-text {
		font-size: 18px;
	}
	&__footer-tel {
		color: #ED8200;
		font-size: 18px;
	}
	&__photo-man {
		display: none !important;
	}

	.submenu1, .submenu2, .submenu3, .submenu4  {
		position: absolute;
		left: 0;
		width: 100%;
		z-index: 10;
    margin-top: 13px;
		background-color: #fff;
		
		display: none;
		// opacity: 0;
		// visibility: hidden;
		transition: all .2s ease;	
		.container {
			.submenu__wrap {
				display: flex;
				justify-content: space-between;
				padding: 59px 0px 60px 0;
				
					
					.submenu__list {
						width: 33.33333%;
						flex: 0 0 33.33333%;
						.submenu__list-item {
							.submenu__list-link {
								font-weight: 400;
								font-size: 18px;
								color: #8890A1;
								text-transform: none;
							}
							.submenu__list-link:hover {
								color: #003DB1;
							}
						}
					}
					.submenu__card-text {
						font-weight: 500;
						font-size: 14px;
						line-height: 25px;
						color: #000000;
						text-transform: none;
						margin-top: 10px;
					}
				
			}
			.lower-wrap {
				padding-top: 24px;
			}
		}
	
		&__wrap {
			display: flex;
			justify-content: space-between;
			padding: 59px 0px 60px 0;
		}
		// .lower-wrap {
		// 	padding-top: 24px;
		// }
		&__list {
			width: 33.33333%;
			flex: 0 0 33.33333%;
		}
		.lower-list {
			margin-top: 20px;
		}
		.lower-item {
			margin-bottom: 30px;
		}

		&__list-link {
			font-weight: 400;
			font-size: 18px;
			color: #8890A1;
			text-transform: none;
		}
		&__list-link:hover {
			color: #003DB1;
		}
		.upper-link {
			margin-bottom: 30px;
		}
		// &__card-photo {
		// 	background-image: url(../img/menu/card-man.png) no-repeat center;
		// }
		&__card-text {
			font-weight: 500;
			font-size: 14px;
			line-height: 25px;
			color: #000000;
			text-transform: none;
			margin-top: 10px;
		}
		.card-btn {
			width: 270px;
			padding: 20px 28px;
			margin-top: 22px;
		}
	}
}

.slick-list.draggable {
	// max-width: 1302px;
	// margin: 0 auto;
	// padding-left: 66px;
	// padding-right: 66px;
}

.wrap_for_bg_blue {
	background-color: #cedeec;
}

.header__slider {	
	// padding-top: 83px;
	// padding-bottom: 111px;
	max-width: 1302px;
	margin: 0 auto;
	padding-left: 66px;
	padding-right: 66px;
	position: relative;
}

.slider-item {
	background-position: 107% 98%;
	background-repeat: no-repeat;
	display: flex !important;
	justify-content: space-between;
	// height: 100vh;
	align-items: center;
	position: relative;
	padding-top: 83px;
	padding-bottom: 135px;
	&__info {
		position: relative;
	}
	
	&__info-title {
		font-weight: 900;
		font-size: 70px;
		line-height: 80px;
		color: #000000;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	&__info-text {
		font-weight: 400;
		font-size: 18px;
		line-height: 25px;
		color: #8890A1;
		text-transform: none;
		width: 481px;
		margin-bottom: 53px;
	}
	.upper {
		padding: 20px 62px;
	}
}

// .slider-item__photo {
// 	position: absolute;
// 	display: none;
// 	max-width: 100%;
// 	height: auto;
// 	bottom: 0;
// 	right: -56px;
// 	z-index: 1;
// }

.slick-dots {
	display: flex;
	position: absolute;
	bottom: 96px;
  left: 65px;
}

.slick-dots li button {
			width: 10px;
			height: 10px;
			padding: 5px;
			margin-right: 9px;
			border-radius: 50%;
			color: #c0cedd;
			background-color: #c0cedd;
			border: none;
			outline: none;
			cursor: pointer;
			font-size: 0;
}
.slick-dots .slick-active button {
	background-color: #003DB1;
}

/* 1024 - 1200px */
@media screen and (max-width: 1200px) {
	.header {

	}
	.slider-item__info-title {
		font-size: 63px;
	}
}

/* 768 - 1024px */
@media screen and (max-width: 1024px) {
	.header {
		&__sup-menu {
			display: none;
		}
		.leng {
			margin-left: 25px;
		}
		&__eye {
			display: block;
			margin-left: 20px;
		}
		&__icon {
			display: block;
		}
		&__tel {
			margin-left: 20px;
		}
		.clients {
			margin-right: 35px;
		}
		.corporate {
			margin-right: 35px;
		}
		&__box {
			display: block;
		}
		.open {
			display: block !important;
		}
		&__menu-lower {
			display: none;
		}
		&__footer-menu {
			display: flex;
		}
		// .submenu__list.lower-list {
		// 	width: 45%;
		// 	flex: 0;
		// }
		&__slider-item {
			background-image: none !important;
		}
		&__photo-man {
			position: absolute;
			width: 45%;
			height: auto;
			bottom: 0;
			right: -56px;
			display: block !important;
		}
		.submenu__wrap.lower-wrap {
			border-bottom: 1px solid #8890A1;
			flex-wrap: wrap;
		}
		.submenu__card {
			display: flex;
			align-items: flex-end;
			width: 100%;
			justify-content: space-between;
		}
	}
	.slider-item__info-title {
		font-size: 45px;
		width: 475px;
	}
}

/* 576 - 768px */
@media screen and (max-width: 768px) {
	.header {
		&__wrap {
			display: none;
		}
		&__list {
			display: block;
		}
		&__search {
			display: block;
		}
		&__magnifier {
			display: block;
			margin-left: 20px;
		}
		&__bar {
			display: block;
			margin-left: 20px;
			width: 20px;	
			height: 20px;
		}
		&__bar-icon {
			display: block;
		}
		&__tel {
			display: none;
		}
		&__search-icon {
			display: none;
		}
		.submenu__card {
			display: block;
		}
		&__wrap-lower {
			display: block;
		}
		&__photo-man {
			width: 50%;
		}
	}
	.header__menu-lower:nth-child(2) {
		margin-left: 0;
	}
	.header .submenu2 .container .lower-wrap {
		display: block;
	}
	.header .submenu2 .container .submenu__wrap .submenu__list {
		width: auto;
	}
	.header .submenu3 .container .lower-wrap {
		display: block;
	}
	.header .submenu3 .container .submenu__wrap .submenu__list {
		width: auto;
	}
	.header .submenu4 .container .lower-wrap {
		display: block;
	}
	.header .submenu4 .container .submenu__wrap .submenu__list {
		width: auto;
	}
	.slider-item {
		padding-top: 34px;
	}
	.slider-item__info-title {
		font-size: 35px;
    line-height: 40px;
	}
	.slider-item__info-text {
		width: 329px;
	}
}

/* 320 - 576px */
@media screen and (max-width: 576px) {
	.header {
		&__data {
			display: none;
		}
		.leng {
			display: none;
		}
		&__eye {
			display: none;
		}
		&__title-wrap {
			font-size: 14px;
		}
		&__link-lower {
			font-size: 14px;
		}
		
		&__footer-text {
			font-size: 14px;
		}
		&__footer-tel {
			font-size: 14px;
		}
	}
	.submenu__card-img {
		max-width: 100%;
		height: auto;
	}
	.header .submenu2 .container .submenu__wrap .submenu__list .submenu__list-item .submenu__list-link {
		font-size: 14px;
	}
	.header .submenu2 .card-btn {
		width: 260px;
		font-size: 14px;
	}
	.header .submenu3 .container .submenu__wrap .submenu__list .submenu__list-item .submenu__list-link {
		font-size: 14px;
	}
	.header .submenu3 .card-btn {
		width: 260px;
		font-size: 14px;
	}
	.header .submenu4 .container .submenu__wrap .submenu__list .submenu__list-item .submenu__list-link {
		font-size: 14px;
	}
	.header .submenu4 .card-btn {
		width: 260px;
		font-size: 14px;
	}
	.slick-dots {
		left: 20px;
	}
	.slick-list.draggable {
		padding: 0 20px 0 20px;
	}
	.slider-item {
    padding-top: 20px;
	}
	.slider-item__info-title {
		width: 215px;
    font-size: 20px;
		line-height: 25px;
		margin: 0 0 10px 0;
	}
	.slider-item__info-text {
		font-size: 14px;
		margin-bottom: 35px;
		width: 244px;
	}
	.slider-item .upper {
		width: 155px;
    height: 45px;
    line-height: 45px;
    font-size: 12px;
    white-space: nowrap;
    padding: 0;	
	}

	.header__slider {	
		// padding-top: 83px;
		// padding-bottom: 111px;
		max-width: 1302px;
		margin: 0 auto;
		padding-left: 20px;
		padding-right: 20px;
		position: relative;
	}

	.slick-slide .header__photo-man {
    min-width: 180px;
	}
}