.metals {
	&__wrap {
		display: flex;
		justify-content: space-between;
	}

}
.services__heading {
		font-weight: 500;
		font-size: 18px;
		text-transform: none;
		color: #FF5D39;
		margin-bottom: 25px;
		img {
			margin-right: 5px;
		}
		span {
			color: #8890A1;
			margin-left: 4px;
		}
	}
.services__heading_euro{
	margin-bottom: 20px;
}

/* 1024 - 1320px */
@media screen and (max-width: 1320px) {
	.metals {
		&__remove {
			display: none;
		}
		.services__chart {
			width: 100%;
		}
		.services__table th {
			padding-right: 30px;
		}
		.services__metals {
			padding-bottom: 7px;
		} 
		.services__cell {
			margin-top: 10px;
		}
	}
	.services__metals .services__cell .services__data .services__value {
		margin-right: 30px;
	}
}

/* 768 - 1024px */
@media screen and (max-width: 1024px) {
	.metals {
		.services__item:nth-child(2) {
			display: none;
		}
	}
	
}